section {
  font-family: 'CMUConcreteRoman';
  font-style: normal;
  border-radius: 3em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff6666;
}

a {
  color: #80cee1;
}

p {
  border-radius: 3em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; 
}

.a0 {
  padding-left: 0em;
}

.a1 {
  padding-left: 1em;
}

.simple-enter {
  opacity: 0;
}
.simple-enter-active-2 {
  opacity: 1;
  transition: opacity 2s ease-in;
}
.simple-enter-active-4 {
  opacity: 1;
  transition: opacity 4s ease-in;
}
.simple-enter-active-8 {
  opacity: 1;
  transition: opacity 6s ease-in;
}
.simple-leave {
  opacity: 1;
}
.simple-leave-active {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}