section {
  font-family: 'CMUConcreteRoman';
  font-style: normal;
  border-radius: 3em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff6666;
}

a {
  margin-top: 1em;
  font-size: 3.5rem;
  display:block;
  text-indent:-9999em;
}

a:hover,
a:focus {
  filter: invert(45%) sepia(49%) saturate(2297%) hue-rotate(162deg) brightness(96%) contrast(101%);
}


p {
  border-radius: 3em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center; 
}

.linkedin {
  background: url('./linkedin.svg');
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
}

.github {
  background: url('./github.svg');
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
}


.src {
  background: url('../assets/code.svg');
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
}

.simple-enter {
  opacity: 0;
}
.simple-enter-active-2 {
  opacity: 1;
  transition: opacity 2s ease-in;
}
.simple-enter-active-4 {
  opacity: 1;
  transition: opacity 4s ease-in;
}
.simple-enter-active-8 {
  opacity: 1;
  transition: opacity 6s ease-in;
}
.simple-leave {
  opacity: 1;
}
.simple-leave-active {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}